// FONTS
// @import url(db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/SF-Pro-Display-Medium.otf'),
         url('./fonts/SF-Pro-Display-Regular.otf'),
         url('./fonts/SF-Pro-Display-Bold.otf')    
    ;
}

// VARIABLES
$primary-color :#6252CE;
$secondary-color : #FDA2D5;
$secondary-color-alt : #63CDD5;
$black-color : #121212;
$grey-color : rgba(0, 0, 0, 0.6);
$grey-color-alt : rgba(0, 0, 0, 0.4);
$primary-shadow : 0px 7px 12px 0px rgba(98, 82, 206, 0.54);

$primary-font : 'SF Pro Display';


// ROOT
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    color: $black-color;
}

p {
    color: $grey-color;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;

    &.align-center {
        align-items: center;
    }

    &.justify-center {
        justify-content: center;
    }

    .col {
        flex: 50%;

        &:first-child {
            padding-right: 30px;
        }

        &:last-child {
            padding-left: 30px;
        }

        @media screen and (max-width: 480px) {
            flex: 100%;

            &:first-child,
            &:last-child {
                padding: 0;
            }
        }
    }
}

.btn-primary {
    background-color: $primary-color;
    color: #FFF;
    padding: 20px 60px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: $primary-shadow;

    @media screen and (max-width: 768px) {
        padding: 14px 30px;
        font-size: 16px;
    }
}

section {
    padding: 60px 120px;

    .section-title {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .section-description {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .link {
        display: flex;
        align-items: center;

        letter-spacing: .395em;
        color: $black-color;
        text-transform: uppercase;
        font-weight: 600;

        i {
            font-size: 28px;
            margin-left: 20px;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 40px 20px;

        .section-title {
            font-size: 28px;
        }

        .section-description {
            font-size: 16px;
        }
    }
}

// MAIN

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;

    @media screen and (max-width: 768px) {
        padding: 20px;
    }

    .navbar-logo {
        font-size: 22px;
        font-weight: bold;
        color: $primary-color;

        span {
            color: $black-color;
        }
    }

    .navbar-toggle {
        display: none;
        font-size: 30px;

        @media screen and (max-width: 768px) {
            display: block;
        }
    }

    .nav-menu {
        display: flex;
        transition: .3s;

        .nav-close {
            display: none;
        }

        .nav-item {
            margin: 0 20px;

            .nav-link {
                color: $grey-color;
                font-weight: 500;
                transition: .3s;

                &.active,
                &:hover {
                    color: $black-color;
                }
            }

            &.icon {
                display: none;
            }
        }

        @media screen and (max-width: 768px) {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            background-color: $primary-color;
            color: #FFF;
            z-index: 100;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &.active {
                right: 0;
            }

            .nav-close {
                display: block;
                position: absolute;
                top: 20px;
                right: 40px;
                color: #FFFFFF;
                font-size: 24px;
            }

            .nav-item {
                margin: 20px 0;

                .nav-link {
                    font-size: 20px;
                    color: #eeeeee;

                    &.active {
                        color: #FFFFFF;
                    }
                }

                &.icon {
                    display: block;

                    .nav-link {
                        margin: 0 10px;
                    }
                }
            }
        }
    }

    .nav-social {
        display: flex;
        align-items: center;

        .social-icon {
            font-size: 18px;
            margin: 0 10px;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.banner-section {
    position: relative;
    padding-right: 0;

    .banner-title {
        font-size: 68px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .col {
        padding: 0 !important;
    }

    .bg {
        position: relative;

        img {
            height: 550px;
            object-fit: cover;
            border-top-left-radius: 100px;
        }

        .banner-chart {
            background-color: #fff;
            padding: 20px 30px;
            position: absolute;
            bottom: 0;
            left: 0;

            h3 {
                font-size: 28px;
                color: $primary-color;

                span {
                    font-size: 16px;
                    color: $grey-color;
                    font-weight: 400;
                }
            }

            .chart-area {
                margin-top: 20px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

                .chart-description {
                    font-weight: 600;
                    color: $grey-color;
                    margin-top: 20px;
                }

                .chart {
                    display: block;
                    border-radius: 50px;
                    width: 20px;
                }

                .chart-first {
                    .chart {
                        background-color: $secondary-color;
                    }
                }

                .chart-second {
                    .chart {
                        background-color: $secondary-color-alt;
                    }
                }

                .chart-third {
                    .chart {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        padding: 30px 20px;
        padding-right: 0;

        .banner-title {
            font-size: 52px;
        }

        .bg {
            margin-top: 60px;

            img {
                height: 300px;
                object-fit: cover;
            }

            .banner-chart {
                padding: 14px 20px;

                h3 {
                    font-size: 20px;
                }
            }

        }

    }

}

.about-section {
    padding-top: 120px;
    padding-left: 0;
    position: relative;

    .about-circle-1 {
        position: absolute;
        top: 50px;
        left: 300px;
    }

    .about-circle-2 {
        position: absolute;
        top: 100px;
        left: 100px;
    }

    .about-circle-3 {
        position: absolute;
        top: 50px;
        right: 300px;
    }

    .about-circle-4 {
        position: absolute;
        top: 100px;
        right: 0;
    }


    .img-content {
        margin-top: 50px;
        position: relative;

        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .btn-img {
            background: white;
            color: $black-color;
            padding: 40px;
            border-top-left-radius: 50px;
            font-size: 30px;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: .3s;

            &:hover {
                background-color: $primary-color;
                color: white;
            }
        }
    }

    .content {
        margin-top: 50px;

        .section-description {
            font-weight: 400;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 20px;
        padding-left: 0;

        .row {
            flex-wrap: wrap-reverse;
        }

        .about-circle-1,
        .about-circle-2,
        .about-circle-3,
        .about-circle-4 {
            display: none;
        }

        .img-content {
            img {
                height: 280px;
            }

            .btn-img {
                padding: 20px;
            }
        }

        .content {
            padding-left: 20px;
        }
    }
}

.services-section {

    .link {
        margin-top: 70px;
    }

    .service-card {
        margin-bottom: 30px;

        .icon {
            width: 80px;
            height: 80px;
            padding: 20px;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .service-title {
            margin: 20px 0;
        }

        .service-description {
            color: $grey-color;
            font-weight: 500;
        }

        @media screen and (max-width: 768px) {
            margin-top: 50px;
            margin-bottom: 0;
        }
    }
}

.projects-section {
    .title-area {
        position: relative;

        .line {
            position: absolute;
            right: -120px;
            top: 60%;

            background-color: $grey-color-alt;
            height: 1px;
            width: 80%;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    .project-area {

        .row {
            margin-top: 40px;
            flex-wrap: wrap-reverse;
        }

        .project-title {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 20px;

        }

        .project-description {
            font-size: 32px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .project-category {
            font-size: 18px;
            margin-bottom: 40px;
        }

        .project-img {
            img {
                width: 100%;
                height: 480px;
                object-fit: cover;
            }
        }

        @media screen and (max-width: 480px) {
            .project-title {
                font-size: 20px;
                margin-top: 30px;
                margin-bottom: 10px;
            }

            .project-description {
                font-size: 26px;
                margin-bottom: 10px;
            }

            .project-img {
                img {
                    height: 340px;
                }
            }
        }
    }
}

.testimonials-section {
    padding-right: 0;

    .title-area {
        position: relative;
        padding-right: 120px;

        .section-title {
            float: right;
        }

        .line {
            position: absolute;
            left: -120px;
            top: 30px;

            background-color: $grey-color-alt;
            height: 1px;
            width: 50%;
        }

        @media screen and (max-width: 768px) {
            padding-right: 20px;

            .section-title {
                float: left;
            }

            .line {
                display: none;
            }

        }
    }

    .testimonial-area {
        position: relative;
        margin-top: 150px;

        .img-area {
            .img {
                position: relative;
                height: 480px;
                width: 480px;

                .btn-testimonial {
                    position: absolute;
                    bottom: 8px;
                    right: 0;

                    background-color: #FFFFFF;
                    padding: 30px;
                    color: $black-color;
                    font-size: 28px;
                    transition: .3s;

                    &:hover {
                        background-color: $secondary-color-alt;
                        color: #FFFFFF;
                    }
                }
            }

            .icon {
                width: 100px;
                height: 100px;
                padding: 40px;
                background-color: $secondary-color-alt;
                border-radius: 50px;

                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;
                top: -50px;
                left: -50px;
                z-index: 1;

                font-size: 30px;
                color: #FFFFFF;
            }

            .vector {
                position: absolute;
                bottom: 20px;
                left: -50px;
                z-index: -1;
            }
        }

        .content-area {
            float: right;
            width: 180%;
            margin-top: 100px;
            padding: 70px 120px 170px 0;
            padding-left: 70%;
            background-color: #EEF5FF;

            .testimonial-title {
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 30px;
            }

            .testimonial-description {
                font-size: 18px;
                margin-bottom: 30px;
            }

            .testimonial-person {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .testimonial-people-work {
                font-size: 14px;
            }
        }

        @media screen and (max-width: 768px) {
            .img-area {
                display: flex;
                justify-content: center;

                .img {
                    height: 240px;
                    width: 240px;

                    .btn-testimonial {
                        font-size: 22px;
                        bottom: 0;
                    }
                }

                .icon {
                    width: 70px;
                    height: 70px;
                    padding: 28px;
                    font-size: 20px;

                    top: -35px;
                    left: 0;
                }

                .vector {
                    display: none;
                }
            }

            .content-area {
                float: left;
                width: 100%;
                padding: 140px 20px 20px;
                margin-top: -100px;
            }
        }
    }
}

footer {
    margin-top: 200px;
    padding: 130px 120px 40px;
    background-color: #153547;

    .footer-contact {
        .contact-title {
            position: relative;
            font-size: 38px;
            text-transform: capitalize;
            color: #FFF;
            margin-bottom: 70px;

            display: flex;
            align-items: center;

            i {
                margin-left: 10px;
            }

            &::after {
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 60%;
                height: 3px;
                content: "";
                background-color: #FFF;
            }
        }

        .contact-info {
            display: block;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 400;
            color: #FFF;
        }
    }

    .footer-subscribe {
        float: right;
        width: 80%;

        .subscribe-title {
            font-size: 28px;
            color: #FFF;
            margin-bottom: 70px;
        }

        .subscribe-description {
            font-size: 18px;
            font-weight: 400;
            color: rgba(255, 255, 255, .6);
            margin-bottom: 40px;
        }

        .form-group {
            background-color: #FFF;
            padding: 10px;
            border-radius: 10px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .form-input {
                padding: 10px;
                border: none;
                outline: none;
                font-size: 18px;
                width: 100%;
            }

            .btn-subscribe {
                padding: 10px;
                border: none;
                outline: none;
                border-radius: 7px;
                background-color: $primary-color;
                color: #FFF;
                font-size: 18px;
                cursor: pointer;
            }
        }

    }

    .copyright-area {
        margin-top: 100px;

        hr {
            width: 80%;
            height: 2px;
            margin: 0 auto;
            opacity: .6;
        }

        .copyright-text {
            text-align: center;
            margin-top: 20px;
            color: rgb(221, 221, 221);
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: 100px;
        padding: 100px 20px 50px 20px;

        .footer-contact {
            .contact-title {
                font-size: 28px;
                margin-bottom: 40px;
            }
        }

        .footer-subscribe {
            float: left;
            width: 100%;
            margin-top: 50px;

            .subscribe-title {
                font-size: 24px;
                margin-bottom: 30px;
            }

            .subscribe-description {
                font-size: 16px;
                margin-bottom: 30px;
            }

            .form-group {

                .form-input,
                .btn-subscribe {
                    font-size: 16px;
                }
            }
        }
    }
}
